.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 510px;
    height: 565px;
    max-width: 100%;
    text-align: center;

}
.HeadContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.subContainer{
    padding: 5px 10px 0 10px;
}

hr{
    border: none;
    height: .5px;
    width: 100%;
    background-color: rgb(190, 185, 185);
}

.header-text{
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 20px;
}

.subheader-text{
    margin: -5px 0 12px 0;
    font-size: 15px;
    color: gray;
}

.form-control{
    font-size: 13px;
    height: 38px;   
    padding: 10px;
}

.form-select{
    font-size: 13px;
    height: 38px;   
    padding: 5px;
}

.form-control:hover,
.form-select:hover {
    border-color: #66b3ff;
    box-shadow: 0 0 8px rgba(102, 179, 255, 0.5);
}


.form-control:focus,
.form-select:focus {
    border-color: #3399ff;
    box-shadow: 0 0 10px rgba(51, 153, 255, 0.5);
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

::placeholder {
        font-size: 13px;
        color: #888;
}

   
.small-placeholder::placeholder {
        font-size: 12px;
}

.row.custom_gutter {
        --bs-gutter-x: 0.4rem;
}

.mt-custom{
    margin-top: 1.40rem
}

.holder {
    text-align: start;
    background-color: rgb(232, 240, 254);
    border: .9px solid #ddd;;
    border-radius: 3px;
    font-size: 13px;
    height: 38px;   
    padding: 10px;
    
}

.holder p {
    font-size: 13px;      
    color: #333;          
}
